* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: lightblue;
}

.navBar {
    background-color: rgb(48, 48, 168);
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.navBar h1 {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 40%;
    float: left;
    line-height: 50px;
    font-size: 30px;
    color: white;
}

.navBar ul {
    display: none;
}

body {
    margin: 0;
    padding: 90px;
}

.linkMark {
    height: 90px;
}

.headline, .bio, .projects {
    height: 550px;
}

.headline, .bio {
    line-height: 40px;
    text-align: left;
    margin: auto;
    width: max-content;
    font-size: 18px;
}

.projects {
    text-align: center;
}

.projects h2 {
    font-size: 28px;
    margin: 10px;
}

.projects h3 {
    font-size: 21px;
    margin: 10px;
}

.projectLink {
    font-size: 18px;
    line-height: 30px;
}

.projectLink a {
    color:  rgb(48, 48, 168);
}

#imgContainer {
    margin: auto;
    padding: 10px;
}

.projectComment {
    font-size: 16px;
    line-height: 30px;
}


@media screen and (min-width: 400px) {
    .navBar ul {
        display: inline-block;
        list-style: none;
        text-align: right;
        float: right;
        width: 40%;
        margin-right: 20px;
    }
    
    .navBar li {
        display: inline;
        padding-right: 20px;
    }

    .navBar a {
        color: lightblue;
        font-size: 18px;
        text-decoration: none;

    }
  
}