* {
    box-sizing: border-box;
}

.navBar {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.navBar h1 {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 40%;
    float: left;
    line-height: 50px;
}

.navBar ul {
    display: none;
}

body {
    margin: 0;
    padding: 90px;
}

.linkMark {
    height: 90px;
}

.headline, .bio, .projects {
    height: 550px;
}

.headline, .bio {
    line-height: 30px;
    text-align: left;
    margin: auto;
    width: max-content;
}

.projects {
    text-align: center;
}

#imgContainer {
    margin: auto;
}



@media screen and (min-width: 400px) {
    .navBar ul {
        display: inline-block;
        list-style: none;
        text-align: right;
        float: right;
        width: 40%;
        margin-right: 20px;
    }
    
    .navBar li {
        display: inline;
        padding-right: 10px;
    
    }
  
}