* {
    box-sizing: border-box;
}

.navBar {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.navBar h1 {
    margin: 0;
    padding: 0;
    width: 40%;
    float: left;
    line-height: 50px;
}

.navBar ul {
    display: none;
}

body {
    margin: 0;
    padding: 80px;
}

/* main {
    padding-top: 60px;
} */

.headline, .bio, .projects {
    text-align: center;
    padding-bottom: 500px;
}

#imgContainer {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: auto;
}

@media screen and (min-width: 525px) {
    .navBar ul {
        display: inline-block;
        list-style: none;
        float: right;
        width: 50%;
        margin-right: 30px;
    }
    
    .navBar li {
        display: inline;
        padding-right: 10px;
    
    }
  
}